.hero-background{
	background: linear-gradient(-45deg, #253e77, #043f4e, #23a6d5, #048668);
	animation: gradient 15s ease infinite;
	height: 100vh;
    width: 99.1vw;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -2;
}



.name-hero-text{
    margin-top: 35vh;
    position: relative;
    font-size: 4vh;
    text-align: center ;
    line-height: 1;
    color: white;
}


.hero-text{
    text-align: center;
    font-size: 2.5vh;
    color: white
}


.navbar-nav{
    left: 0;
    position: absolute;
    margin-top: 45vh;
    text-align: center;
    overflow: hidden;
    width: 99.1vw;
    height: 7vh;
    background-color:#040b0b;
    z-index: 2;
    min-height: 50px;
}


.nav-words{
    position: absolute;
    margin-left: 35vw;
}

  
.navbar a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3vh;   
}
  

.navbar a:hover {
    background-color: grey;
    color: black;
}


.about-me{
    display: flex;
    left: 0;
    position: absolute;
    background-color: antiquewhite;
    height: 100vh;
    width: 99.1vw;
    margin-top: 52vh;
}


.about-me-image{
    background: border-box;
    position: relative;
    margin-top: 42vh;
    margin-left: 25.5vw;
}


.about-image{
    max-width:230px ;
}


.about-title{
    position: absolute;
    margin-left: 43vw;
    height: 5vh;
    font-size: 2.5vh;
}


.about-me-text{
    position: relative;
    margin-left: 3vw;
    margin-top: 40vh;
    width: 30vw;
    height: 10vh;
    font-size: 2vh;
}


.hexagon{
    margin-top: 10vh;
    margin-left: 15.3vw;
    color: plum;
    position: absolute;
    font-size: 18vh;
}


.hex{
    margin-top: 3vh;
    margin-left: 11.5vw;
    float: right;
    position: relative;
    margin-right: 4vw;
    width: 7.3vw;
    fill:rgb(0, 0, 0) ;
}


.speed{
    margin-left: 32.1vw;
    margin-top: 8.8vh;
    height: 8vh;
    position: absolute;
    fill: plum;
    z-index: 2;
}


.speed-text{
    position: absolute;
    font-size: 4vh;
    margin-top: 20vh;
    margin-left: 29vw;
}


.text{
    margin-top: 10vh;
    margin-left: 9.4vw;
    position:absolute;
    height: 7vh;
    fill: plum;
    z-index: 2;
}


.text-text{
    position: absolute;
    font-size: 4vh;
    margin-top: 20vh;
    margin-left: 4vw;
}


.truck{
    height: 8vh;
    fill:plum;
    position:absolute;
    margin-top: 9.5vh;
    margin-left: 32.1vw;
    margin-left: 54.7vw;
}


.truck-text{
    position: absolute;
    font-size: 4vh;
    margin-top: 20vh;
    margin-left: 52.9vw;
}



.projects{
    display: flex;
    left: 0;
    position: absolute;
    background-color: rgb(134, 35, 134);
    position: absolute;
    margin-top: 94.1vh;
    height: 100vh;
    width: 99.1vw;
}


.project-card-wrapper{
    margin-left: 13vw;

}


.projects-cards {
    background-image: url("/TBuscemi.github.io/ReferenceImages/GravesD20.png");
    background-color: antiquewhite;
    margin-top: 25vh;
    margin-left: 3vw;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 50vh;
    width: 40vh;
    background-color:antiquewhite;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
  }



.project-title{

    position: absolute;
    margin-left: 44vw;
    font-size: 2.5vh
}






